/* Régle CSS pour les balises */
p {
  color: red;
}

/* Régle CSS pour les identifiants */
#mon-identifiant {
  color: red;
}

/* Régle CSS pour les classes */
.ma-classe {
  color: red;
}

/* Mixte */
.ma-classe div #mon-identifiant {
  color: red;
}

/* Pour cibler toutes les balises html */
* {
  box-sizing: border-box; /* Cette propriété permet que le calcul des "padding" et des "border" soit inclus dans la largeur des éléments*/
}

/* Pour le texte */
p {
  color: #000;  /* ou rga() ou rgba() */
  font-family: 'Arial';
  font-size: 16px; /* ou % ou em ou rem */
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

/* Les liens */
a {
  font-size: 1em;
  color: #E34D25;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

/* Les marges */
.ma-div {
  margin: 20px 30px; /* ou % ou em ou rem */
  padding: 15px 20px;  /* ou % ou em ou rem */
}

/* les bords */
.ma-div {
  border: 5px solid #F9F9F9;
  border-radius: 20px; /* ou % ou em ou rem */
}

/* Chager de famille entre inline et block */
a {
  display: block; /* au lieu de inline */
}

.ma-div {
  display: inline; /* au lieu de block */
}

a {
  display: inline-block; /* on mixte les deux familles */
}

